.campo_text{
    margin:24px 0;
}

.campo_text label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.campo_text input{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0,0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}

.campo_color input{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0,0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    height: 40px;
    padding:5px 24px;
}
.campo_color label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}
.campo_date{
    margin:24px 0;
}
.campo_date input{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0,0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
}
.campo_date label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}